@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.page_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center vertically */
  gap: 3rem; /* space between main sections */
  text-align: center;
  background-color: antiquewhite;
  height: 100vh;
  overflow: hidden;
  padding: 2rem 0;
}

.oval,
.triangle-left,
.triangle-right {
  display: inline-block;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.btn-group button {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #C89F70; /* Green background */
  color: #705848; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-left: 22%;
  border-radius: 15px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both; 
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #C89F70;
}

.oval {
  position: relative;
  height: 100px;
  width: 200px;
  background-color: #A4CF6F;
  border-radius: 50%;
  overflow: hidden; /* ensures image doesn't spill outside */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -20px;
}

.oval-img {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 2;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #A4CF6F;
  border-bottom: 25px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #A4CF6F;
  border-bottom: 25px solid transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}